
body{
    font-family: sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;

    background-color: gray;
    color: lightblue;
}

h1 {
    font-size: 200%;
    transition: font-size 1s;
}

h2 {
    font-size: 150%;
    color: grey;
    padding: 1%; 
    flex-basis: 150px;  
    transition: flex-basis 1s, font-size 1s;

}

header img {
    max-height: 50px;
}

nav li {
    min-width: 100px;
}

nav a {
    width: fit-content;
    text-decoration: none;
    color: lightblue;
}

main {
    display: flex;
    flex-direction: column;
    transition: margin-left 1s;
}

section{
    display: flex;
}

/* About me */

.aboutMe {
    align-items: center;
}
.aboutMe p {
    padding: 1%;
    flex-basis: 75%;
}

/* My Work */

.work {
    flex-direction: row;
}
.cards {
    flex-direction: column;
    flex-basis: 75%;
}

.main-card{
    position: relative;
    height: 325px;
    flex-basis: 100%;
    overflow: hidden;
    padding: 1%;
    background-color: lightblue;
    margin: 1%;
}

.main-card img {
    position: relative;
    width: 100%;
    filter: brightness(75%);
}

.sub-cards {
    flex-wrap: wrap;
    flex-direction: row;
}

.card-body {
    position: relative;
    flex-basis: 100%;
    overflow: hidden;
    padding: 1%;
    margin: 1%;
    background-color: lightblue;
    transition: flex-basis 500ms linear;
}

.card-body img {
    width: 100%;
    filter: brightness(75%);
}

figcaption {
    position: absolute;
    bottom: 15%;
    width: fit-content;
    height: fit-content;
    background-color: lightblue;
    padding: 5px;
}
/* Footer */

footer {
    display: flex;
    align-items: center;
}

address {
    flex-basis: 75%;
    padding: 1%;
}

address ul {
    flex-wrap: wrap;
    flex-direction: row;
}

address ul a {
    text-decoration: none;
}

/*hover effects */

img:hover {
    filter: brightness(100%);
}

/* mobile  */
@media screen and (min-width: 768px) {
    main {
        margin-left: 15%;;
    }
    h2 {
        font-size: 200%;
        flex-basis: 250px;
    }
}

@media screen and (min-width: 992px) {
    main {
        margin-left: 20%;
    }
    .card-body {
        flex-basis: 48%;
    }
    h1 {
        font-size: 250%;
    }
}